---
const {text, currentLang, switchLangUrl} = Astro.props;
---

<div class="bg-red-300 max-w-screen-lg mx-auto">
    <h2>{text}</h2>
    <div>
        {currentLang === 'English' ? (
                <>
                    <p>Current Language: English</p>
                    <a href={switchLangUrl}>Polski</a>
                </>
        ) : (
                <>
                    <p>Aktualny język: Polski</p>
                    <a href={switchLangUrl}>English</a>
                </>
        )}
    </div>
</div>
