---
import { Image } from 'astro:assets';
import { getEntry, render } from 'astro:content';

interface Props {
    imageSrc: string;
    altText?: string;
    text: string;
    reverse?: boolean;
}

const { imageSrc, text, reverse } = Astro.props;
// Read all images from the /src/assets directory - based on the recipe: https://docs.astro.build/en/recipes/dynamically-importing-images/
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif,svg}');
if (!images[imageSrc]) throw new Error(`"${imageSrc}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,svg}"`);
---

<section class={`flex w-[1440px] mx-auto ${reverse ? 'flex-row-reverse' : ''}`}>
    <div class="w-1/2"><Image src={images[imageSrc]()} alt="Image" /></div>
    <div class="w-1/2" set:html={text}></div>
</section>
